.create-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
} */

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #999;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}